@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
    margin: 0px;
     
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #4285F4;
    font-family: baarmrg_;
    text-shadow: none;
    
}

@font-face {
	    font-family: baarmrg_;
	    src: url(baarmrg_.TTF);
}

#Game {
     background: #4285F4;
    display: none;
}

/* #ImgBcg{height: 100%;width:100%;position: fixed;left: 0px;top: 0px;opacity: 0.9;} */

.ui-content {
    margin: 0px;
    background: #4285F4;
}

.headerIndex {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background: #173675;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.judul {
    color: black;
    font-size: 20px;
}

.corner {
    background: transparent;
    color: white;
}

.isi {
    margin-top: 45px;
}

.headerGame {
    background: #4285F4;
    padding: 0px;
    height: 40px;
    text-align: center;
    border-bottom: 0px solid #4285F4;
    
}


#pertanyaan {
    font-size: 4vw;
    line-height: 7vw;
    text-align: right
}

.soal {
    display: inline-block;
    width: 8vw;
    background: white;
    color: white;
    border: 2px solid black;
    padding: 1vw;
    margin: 1vw;
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: bold;
}

.bantuanSoal {
    display: inline-block;
    width: 7vw;
    background: white;
    color: white;
    border: 1px solid red;
    padding: 1vw;
    margin: 1vw;
    font-size: 7vw;
    text-transform: uppercase;
}

.jawabanSoal {
    display: inline-block;
    width: 7vw;
    background: lightgray;
    color: black;
    border: 1px solid red;
    padding: 1vw;
    margin: 1vw;
    font-size: 7vw;
    text-transform: uppercase;
}

.jawabTTS {
    display: inline-block;
    width: 8vw;
    background: white;
    color: black;
    padding: 1vw;
    margin: 2vw;
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.jawabTTSkosong {
    display: inline-block;
    width: 8vw;
    background: #4285F4 url("../img/kosong.png");
    background-size: 100% 100%;
    padding: 1vw;
    margin: 2vw;
}

#jawabanku {
    border: 1px solid black;
    color: blue;
    font-size: 8vw;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 15vw;
}

#tbJawab {
    background: #97B313;
    color: white;
    border: 0px;
    border-radius: 0px;
    font-size: 8vw;
    margin: 0px;
    padding: 3vw;
}

#level {
    font-size: 5vw;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

#nyawa {
    font-size: 5vw;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

#bantu {
    font-size: 5vw;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

#satu {
    background: #146A9B;
    font-size: 5vw;
    height: 10vw;
    line-height: 10vw;
    text-align: center;
    width: 25%;
}

#dua {
    background: #DC451A;
    font-size: 5vw;
    height: 10vw;
    line-height: 10vw;
    text-align: center;
    width: 25%;
}

#tiga {
    background: #97B313;
    font-size: 5vw;
    height: 10vw;
    line-height: 10vw;
    text-align: center;
    width: 25%;
}

#clear {
    background: transparent;
    font-size: 5vw;
    height: 10vw;
    text-align: center;
    width: 25%;
    padding: 0px
}


.kotakDepan {
    padding: 5px;
    border-radius: 5vw;
}

#pembahasan {
    padding-top: 20px;
    text-align: center;
    background: white;
    color: #0e3c60;
    padding: 5px;
    font-size: 25px;
    text-transform: uppercase;
    display: none;
}

#tempatJawab {
    padding: 10px 5px;
}

#gagalKeluar {
    background: red;
    color: white;
    display: none;
    margin: 1% 10%;
    width: 80%;
}

#kembali {
    background: green;
    color: white;
    width: 40%;
    font-size: small;
}

#lihatBantuan {
    background: whitesmoke;
    text-align: center;
    padding: 5% 0%;
    position: fixed;
    left: 10%;
    top: 10%;
    right: 10%;
    width: 80%;
    border-radius: 10px;
    opacity: 1;
    z-index: 100;
    display: none;
}

#pesan {
    background: #ded530;
    text-align: center;
    padding: 2%;
    position: fixed;
    left: 10%;
    top: 10%;
    right: 10%;
    width: 74%;
    border-radius: 10px;
    opacity: 1;
    z-index: 100;
    display: none;
}

#pesanBg {
    background: black;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 99;
    display: none;
}

#pesanImg {
    text-align: center;
    margin-bottom: 10px;
}

#pesanMsg {
    line-height: 6vw;
}

#okCak {
    background: lightgray;
    color: black;
    margin-top: 0px;
    font-size: 5vw
}

#tidakCak {
    background: gray;
    color: white;
    margin-top: 0px;
    font-size: 5vw
}

.babak {
    margin: 3% 3% !important;
    font-size: 7vw;
    padding: 5px;
    width: 94% !important;
    color: white;
    border: 0px;
}

.tbPilihan {
    margin: 2vw auto;
    height: 15vw;
    font-size: 4vw;
    line-height: 15vw;
    background: url('../img/TBN.png');
    background-size: 100% 100%;
    text-shadow: none;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 6px 5px 0 rgba(0,0,0,0.19)
}

tbPilihan:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
